<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.1/css/bulma.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.1/css/bulma.min.css">
  <title>Cinemafiles</title>
</head>
<body>
  <header class="display-flex justify-space-between align-center p-2">
<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <h1 class="navbar-item has-text-info"><b>CINEMAfiles</b></h1>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbar">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbar" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item">
        Movies
      </a>

      <a class="navbar-item">
        TV Shows
      </a>
{{!-- search bar --}}
         <input class="input" type="text" placeholder="Search for a movie">
         <p class="control">
                <a class="button is-info search-bar" id="submit">
                  Search
                </a>
           </p>  
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        
        <div class="buttons">
          <!-- Conditionally render login or logout links -->
      {{#if logged_in}}
      <button class="button is-normal is-responsive is-info is-outlined" id="profile" href="/profile">Profile</button>
      <button class="button is-normal is-responsive is-info is-outlined" id="logout" href="/login"> Logout</button>
      {{else}}
      {{!-- <a href="/login">login</a> --}}
      <a class="button is-normal is-responsive is-info is-outlined" id="login" href="/login">Login</a>
      {{!-- <a href="/signup">login</a> --}}
      <a class="button is-normal is-responsive is-info is-outlined" id="signup" href="/signup">Signup</a>
      {{/if}}
        </div>
      </div>
    </div>
  </div>
</nav>
</header>
  <main>
    <!-- Render the sub layout -->
    {{{ body }}}
  </main>
  <footer class="footer">
    <div class="content has-text-centered">
      <p>
        <strong>CINEMAfiles</strong> &copy; </a>
      </p>
    </div>
  </footer>
    <!-- Render script for logged in users only -->
    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}
   
    <script src="/js/app.js"></script>
</body>
</html>

