<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {{!-- swiper.js --}}
  <link rel="stylesheet"  href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.1/css/bulma.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.1/css/bulma.min.css">

  <title>Cinemafiles</title>
</head>
<body>
  <header class="display-flex justify-space-between align-center p-2">
<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <h1 class="navbar-item has-text-info"><b>CINEMAfiles</b></h1>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbar">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbar" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item">
        Movies
      </a>

      <a class="navbar-item">
        TV Shows
      </a>

    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <!-- Conditionally render login or logout links -->
      {{#if logged_in}}
      <button class="button is-normal is-responsive is-info is-outlined" id="profile" href="/profile">Profile</button>
      <button class="button is-normal is-responsive is-info is-outlined" id="logout" href="/login"> Logout</button>
      {{else}}
      {{!-- <a href="/login">login</a> --}}
      <a class="button is-normal is-responsive is-info is-outlined" id="login" href="/login">Login</a>
      {{!-- <a href="/signup">login</a> --}}
      <a class="button is-normal is-responsive is-info is-outlined" id="signup" href="/signup">Signup</a>
      {{/if}}
        </div>
      </div>
    </div>
  </div>
</nav>
</header>
  <main>
    <!-- Render the sub layout -->
    {{{ body }}}
  </main>
  <footer class="footer">
    <div class="content has-text-centered">
      <p>
        <strong>CINEMAfiles</strong> &copy; </a>
      </p>
    </div>
  </footer>
    <!-- Render script for logged in users only -->
    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}


{{!-- swiper.js --}}

<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script> 


<script>
 const heroSwiper = new Swiper('.swiper1', {
   // Optional parameter --}}
  direction: 'horizontal',
  loop: true,

  // If we need pagination
  pagination: {
    el: '.swiper-pagination1',
  },

  // Navigation arrows
  navigation: {
    nextEl: '.swiper-button-next',
    prevEl: '.swiper-button-prev',
  },

  // And if we need scrollbar
  scrollbar: {
    el: '.swiper-scrollbar1',
  },
});

var swiper = new Swiper(".mySwiper", {
        slidesPerView: 3,
        spaceBetween: 30,
        pagination: {
          el: ".swiper-pagination",
          clickable: true,
        },
      });


</script>
 </body>
</html>

