<section class="hero is-dark is-fullheight">
  <div class="hero-body is-flex">
    <div class="container">
      <div class="columns is-centered box">
        <div class="column is-one-third">
          <h2>{{original_title}}</h2>
          <img src="https://image.tmdb.org/t/p/w500/{{poster_path}}" alt="movie poster">
        </div>
        <div class="column is-two-thirds">
          <h2>Review</h2>
          <form>
            <input class="input" type="text" placeholder="Add a review">
            <button class="button">Submit</button>
          </form>
          <div class="star-rating">
            <button class="star">&#9734</button>
            <button class="star">&#9734</button>
            <button class="star">&#9734</button>
            <button class="star">&#9734</button>
            <button class="star">&#9734</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  .star-rating {
    user-select: none;
  }

  .star {
    font-size: 1.5rem;
    color: #ff9800;
    background-color: unset;
    border: none;
    padding: 0;
  }

  .star:hover {
    cursor: pointer;
  }
</style>

<script>
  const allStars = document.querySelectorAll('.star');
 
  allStars.forEach( (star, i) => {
    star.onclick = function () {
      let currentStarLevel = i + 1;
      
      allStars.forEach((star, j) => {
        if ( currentStarLevel >= j+1) {
          star.innerHTML = '&#9733';
        } else {
          star.innerHTML = '&#9734'
        }
      })
    }
  })
</script>