<div>
  <div>
{{!-- movie img --}}
  </div>
{{!-- movie title --}}
  <h2></h2>
</div>

<div>
  <div>
{{!-- movie img --}}
  </div>
{{!-- movie title --}}
  <h2></h2>
</div>

<div>
  <div>
{{!-- movie img --}}
  </div>
{{!-- movie title --}}
  <h2></h2>
</div>

<script src="/js/home.js"></script>