{{!-- grab reviews data --}}
{{#each reviews as |review| }}
{{user.name}}
{{reivew.date_created}}
{{review.content}}
{{/each}}

{{!-- grab movies data --}}
{{#each movies as |movie| }}
{{/each}}


{{!-- render search data if user searched --}}
<div class="hero is-dark is-fullheight">
  <div class="hero-body is-7 is-vertical is-parent">
    <div class=" tile is-child box">
      <h1 class="is-size-2 has-text-centered" ><b>Movie name</b></h1>
          <p class="is-size-4"><b>Reviews:</b></p>
          <article class="message is-info">
            <div class="message-body">
              actual past reviews
            </div>
          </article>
           <article class="message is-info">
            <div class="message-body">
              actual past reviews
            </div>
          </article>
          <div class="field">
            <div class="control">
              <textarea class="textarea is-info" placeholder="Your movie review"></textarea>
              <button class="button is-normal is-responsive is-info is-outlined">Post</button>
              <button class="button is-normal is-responsive is-info is-outlined">Update</button>
              <button class="button is-normal is-responsive is-info is-outlined">Delete</button>
            </div>
        </div>
    </div>
  </div>
</div>
